<header>
  <nav class="container">
    <div class="row">
      <div class="col-auto">
        <a routerLink="/">Home</a>
      </div>
      <div class="col-auto">
        <div class="item h">RxJS</div>
        <div class="item group-h">Intro</div>
        <div class="item msg wrn">Интервалы, созданные <code>setInterval()</code>, не удаляются явно.</div>
        <div class="block-container">
          <a *ngFor="let link of rxjsIntroRouteLinks"
            [routerLink]="link.path"
            routerLinkActive='current'>{{link.title}}</a>
        </div>
      </div>
      <div class="col-auto">
        <div class="item h">NgRx</div>
        <div class="block-container">
          <a *ngFor="let link of ngrxRouteLinks"
            [routerLink]="link.path"
            routerLinkActive='current'>{{link.title}}</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
